<link rel="stylesheet" href="/stylesheets/playidx.css" />
<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1><%= user ? user.profile.name : "Discover new music. Create playlists with listeners from around the world." %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
        class="profile-avatar"
      />
    </div>
  <% } %>
  <h2><%= user ? "Get back to sharing the songs you love!" : "Log in!" %></h2>
</main>

<%- include('./partials/footer') %>
