<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <table>
    <thead>
      <tr>
        <th>Song</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Release Date</th>
      </tr>
    </thead>
    <tbody>
      <% songs.ForEach(song => { %> 
        <tr>
          <td><%= song.songTitle %></td>
          <td><%= song.artist %></td>
          <td><%= song.album %></td>
          <td><%= song.releaseDate %></td>
          <td><a href="/songs/<%=song._id %>">Details</a></td>
          <td>
            <form action="/songs/<%=song._id %>?_method=DELETE"method="POST">
              <button>X</button>
            </form>
          </td>
        </tr>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>