<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Edit the Playlist! </h1>
  <form action="/playlists/<%= playlist._id %>?_method=PUT" method="POST">
    <label>
      Name:
      <input 
        type="text" 
        name="name" 
        autocomplete="off"
        value="<%= playlist.name %>"
      >
    </label>
    <label>
      Description:
      <input 
        type="text" 
        name="description" 
        autocomplete="off"
        value="<%= playlist.description %>"
      >
    </label>
    <button type="submit">Edit the Playlist</button>
  </form>
</main>

<%- include('../partials/footer') %>