<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/playidx.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <table>
    <thead>
      <tr>
        <th>Recent Playlists</th>
      </tr>
    </thead>
    <tbody>
      <% playlists.forEach(playlist => { %> 
        <tr>
          <td><%= playlist.name %></td>
          <td><a href="/playlists/<%= playlist._id %>">Details</a></td>
          <td>
          <% if (user) { %>
            <form action="/playlists/<%= playlist._id %>?_method=DELETE"method="POST">
              <button>X</button>
            </form>
            <% } %>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>