
<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/playidx.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Reem+Kufi&family=Tourney&display=swap" rel="stylesheet">
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<%- include('../partials/nav') %>

<main>
  <h1 class="h1pidx"><%= title %></h1>
  <table>
    <thead id="play-item">
      <tr class="table-head">
        <th></th>
        <th>Title</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% playlists.forEach(playlist => { %> 
        <tr>
          <td class="avatar">
            <button type="submit" class="btn btn-secondary" id="username" data-bs-toggle="tooltip" data-bs-placement="left" title="<%= playlist.owner.name%>"><img src="<%= playlist.owner.avatar %>"></button>
          </td>
          <td><%= playlist.name %></td>
          <td><%= playlist.description %></td>
          <td><a href="/playlists/<%= playlist._id %>" class="details">Details</a></td>
            <% if (playlist.owner.equals(user?.profile._id)) { %>
          <td>
            <form action="/playlists/<%= playlist._id %>?_method=DELETE"method="POST">
              <button id="delete">X</button>
            </form>
          </td>
            <% } %>
        </tr>
        <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>