<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Playlistttt</h1>
  <table>
    <thead>
      <tr>
        <th>Song</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Release Date</th>
      </tr>
    </thead>
    <tbody>
      <% playlists.ForEach(playlist = { %> 
        <tr>
          <td><%= playlist.name %></td>
          <td><a href="/playlists/<%= playlist._id %>">Details</a></td>
          <td>
            <form action="/playlists/<%= playlist._id %>?_method=DELETE"method="POST">
              <button>X</button>
            </form>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>