<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/show.css"/>

<main>
  <h1>Playlist</h1>
  <% if (playlist.owner !== (user?.profile._id)) { %>
  <div>
    <a href="/playlists/<%= playlist._id %>/edit">
    <button>Edit Playlist</button>
    </a>
  </div>
  <% } %>
  <section>
    <div></div>
    <div><%= playlist.name %></div>
  </section>
  <h2>Songs</h2>
  <form 
    id="add-song-form"
    action="/playlists/<%= playlist._id %>/songs"
    method="POST"
  >
    <label for="songTitle">Song:</label>
    <input name="songTitle">
    <label for="artist">Artist:</label>
    <input name="artist">
    <label for="album">Album:</label>
    <input name="album">
    <label for="releaseYear">Release Date:</label>
    <input name="releaseYear">
    <button type="submit">Add Song</button>
  </form>
  <% if (playlist.songs.length) { %>
    <table>
      <thead>
        <tr>
          <th>Song</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Release Date</th>
        </tr>
      </thead>
      <tbody>
        <% playlist.songs.forEach(function(song) { %>
          <tr>
            <td><%= song.songTitle %></td>
            <td><%= song.artist %></td>
            <td><%= song.album %></td>
            <td><%= song.releaseYear %></td>
            <td><form class="up" data-id="{{this._id}}">
              <button type="yee">👍</button>
            </form></td>
            <td><form class="down" data-id="{{this._id}}">
              <button type="yee">👎</button>
            </form></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No songs Yet</h3>
  <% } %>
</main>
  
<%- include('../partials/footer') %>