<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/show.css"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Reem+Kufi&family=Tourney&display=swap" rel="stylesheet">

<main>
  <h1><%= playlist.name %></h1>
  <div class="description-play"><%= playlist.description %></div>
  <% if (playlist.owner.equals(user?.profile._id)) { %>
    <a id="edit-button" href="/playlists/<%= playlist._id %>/edit">
    <button>Edit Playlist</button>
    </a>
  <% } %>
  <% if (user) { %> 
  <form 
    class="add-song-form"
    action="/playlists/<%= playlist._id %>/songs"
    method="POST"
  >
    <label for="songTitle">Song</label>
    <input name="songTitle" class="add-song-inp">
    <label for="artist">Artist</label>
    <input name="artist" class="add-song-inp">
    <label for="album">Album</label>
    <input name="album"
    class="add-song-inp">
    <label for="releaseYear">Year</label>
    <input name="releaseYear" class="add-song-inp">
    <button type="submit">Add Song</button>
  </form>
  <% } %>
  <% if (playlist.songs.length) { %>
    <table>
      <thead id="song-info">
        <tr>
          <th>Song</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody>
        <% playlist.songs.forEach(function(song) { %>
          <tr>
            <td><%= song.songTitle %></td>
            <td><%= song.artist %></td>
            <td><%= song.album %></td>
            <td><%= song.releaseYear %></td>
              <% if (playlist.owner.equals(user?.profile._id)) { %>
            <td>
            <form method="POST" action="/playlists/<%= playlist._id %>/<%= song._id%>?_method=DELETE">
              <button class="delete-song" type="submit">X</button>
            </form>
            </td>
              <% } %>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No songs yet</h3>
  <% } %>
</main>
  
<%- include('../partials/footer') %>