<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/show.css"/>

<main>
  <h1><%= playlist.name %></h1>
  <div id="description-play"><%= playlist.description %></div>
  <% if (playlist.owner.equals(user?.profile._id)) { %>
    <a id="edit-button" href="/playlists/<%= playlist._id %>/edit">
    <button>Edit Playlist</button>
    </a>
  <% } %>
  <h2>Songs</h2>
  <form 
    class="add-song-form"
    action="/playlists/<%= playlist._id %>/songs"
    method="POST"
  >
    <label for="songTitle">Song:</label>
    <input name="songTitle">
    <label for="artist">Artist:</label>
    <input name="artist">
    <label for="album">Album:</label>
    <input name="album">
    <label for="releaseYear">Release Date:</label>
    <input name="releaseYear">
    <button type="submit">Add Song</button>
  </form>
  <% if (playlist.songs.length) { %>
    <table>
      <thead id="song-info">
        <tr>
          <th>Song</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody>
        <% playlist.songs.forEach(function(song) { %>
          <tr>
            <td><%= song.songTitle %></td>
            <td><%= song.artist %></td>
            <td><%= song.album %></td>
            <td><%= song.releaseYear %></td>
            <td>
              <% if (playlist.owner.equals(user?.profile._id)) { %>
            <form method="POST" action="/playlists/<%= playlist._id %>/<%= song._id%>?_method=DELETE">
              <button class="delete-song" type="submit">X</button>
            </form>
              <% } %>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No songs yet</h3>
  <% } %>
</main>
  
<%- include('../partials/footer') %>